{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content='IE=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'farm/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'farm/dash/style.css' %}"/>
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style></style>
    </head>
    <body>
        <div class="container1">
            {% include 'farm/dash/includes/sidebar.html' %}
            <main>
              {% include 'farm/dash/includes/header.html' %}
                 <div>
                    {% block content %}

                    {% endblock content%}
                </div>
                
            </main>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'farm/js/bootstrap.bundle.min.js' %}"></script>

    <script>
        closeBtn.addEventListener('click', ()=>{
                sideMenu.style.display = 'none';
            })
    </script>
</html>
