
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'farm/css/bootstrap.css' %}"/>
    </head>
    <body style="background:#f6f6f9;">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    
                    <form method="POST" action="" class="mt-5 border p-4 bg-light shadow"> 
                        {% csrf_token %}
                        <div class="mb-3">
                            <h3 class="text-center mb-0">Login</h3>
                        </div>                 
                        <div class="mb-3">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
        
                        <div class="mb-3">
                            <label for="Password">Password</label>
                            <input type="password" class="form-control" name="password" id="Password" placeholder="Password">
                        </div>
        
                        <label class="mb-3">
                            <input type="checkbox" name="RememberMe"> Remember Me
                        </label>
        
                        <a href="{% url 'reset_password' %}" class="float-end text-decoration-none">Reset Password</a>
        
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>

                        {% for message in messages %}
                            <p class="text-center mb-0">{{message}}</p>
                        {% endfor %}
        
                        <hr>
        
                        <p class="text-center mb-0">Don't have an account<a href="{% url 'register' %}">Register Now</a></p>
                        
                    </form>
                </div>
                
            </div>
        </div>
    </body>
</html>

<!--<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="mb-3">
                <h3>Login Form</h3>
            </div>
            <form accept="" class="shadow p-4">                  
                <div class="mb-3">
                    <label for="username">Email/Username</label>
                    <input type="email" class="form-control" name="username" id="username" placeholder="Username">
                </div>

                <div class="mb-3">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" name="password" id="Password" placeholder="Password">
                </div>

                <label class="mb-3">
                    <input type="checkbox" name="RememberMe"> Remember Me
                </label>

                <a href="#" class="float-end text-decoration-none">Reset Password</a>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

                <hr>

                <p class="text-center mb-0">If you have not account <a href="#">Register Now</a></p>
                
            </form>
        </div>
    </div>
</div>-->
