{% extends 'farm/dash.html' %}
{% block content %}


<h3 style="color:#7d8da1; padding-top:1rem;">Home</h3>
<div class ="insight">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Maize</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'details' %}" class="btn btn-primary">see details</a>
        </div>
    </div>
   
</div>  

{% endblock %}

