{% extends 'farm/dash.html' %}
{% block content %}

<h3 style="color: #7d8da1; padding-top:1rem;">Home/See details </h3>
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Before Production</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">During Planting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">After Production</a>
      </ul>
    </div>
    <div class="card-body">
      
      <a href="#" class="btn btn-primary">Edit</a>
    </div>
  </div>

{% endblock %}