{% load static %}

<link rel="stylesheet" type="text/css" href="{%  static 'farm/dash/style.css' %}"/>
<style></style>
<aside>
    <div class="top">
        
        <div class="logo">
            <h2>AGR<span class="danger">ICO</span></h2>
        </div>
        
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
        </div>

    </div>
  
    <div class="sidebar" id="sidebar">
        <a href="#" class="btb">
            <span class="material-icons-sharp">grid_view</span>
            <h3>Dashboard</h3>
        </a>
        <a href="{% url 'dashboard' %}" class="btb active">
            <span class="material-icons-sharp">home</span>
            <h3>Home</h3>
        </a>
        <a href="#" class="btb">
            <span class="material-icons-sharp">add</span>
            <h3>Start Farming</h3>
        </a>
        <a href="#" class="btb">
            <span class="material-icons-sharp">mail_outline</span>
            <h3>Messages</h3>
            <span class="message-count">10</span>
        </a>
        <a href="#" class="btb">
            <span class="material-icons-sharp">settings</span>
            <h3>Settings</h3>
        </a>
        <a href="{% url 'logout' %}" class="btb">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
        </a>
    </div>

</aside>

<script>
    var btn_active = document.getElementById("sidebar")
            var btns = btn_active.getElementsByClassName("btb")
            console.log(btns.length)
            for (var i = 0; i<btns.length; i++){
                btns[i].addEventListener("click",function(){
                    var current = document.getElementsByClassName("active");
                    if(current.length > 0){
                        console.log('number of active');
                        console.log(current.length);
                        current[0].className = current[0].className.replace("active", "");
                    }
                    this.className += " active";
                })
            }
</script>